@model BookListDto
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="mt-2 d-flex" style="justify-content:flex-end">
    <a asp-controller="book" asp-action="create" class="btn btn-success btn-icon-text">
        <i class="mdi mdi-upload btn-icon-prepend"></i>
        Create
    </a>
</div>
<div style="width:2000px!important" class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Language</th>
                        <th scope="col">Sale Price</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Page Count</th>
                        <th scope="col">Author Name</th>
                        <th scope="col">Genre Name</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Items)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Language</td>
                            <td>@item.SalePrice</td>
                            <td>@item.CostPrice</td>
                            <td>@item.PageCount</td>
                            <td>@item.Author.Name</td>
                            <td>@item.Genre.Name</td>
                            <td><a asp-controller="book" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                            <td><a asp-controller="book" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

